* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    margin-bottom: 2em;
}
article {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 5em;
    background-color: #F1E9BB;
}

#contato{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cartao{
    width: 20em;
}

.info {
    padding: 0 0.5em;
    height: 2em;
    background-color: #CF6123;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
}



#email::before {
    content: url(../images/envelope-at-fill.svg);
    object-fit: contain;
}

#instagram::before {
    content: url(../images/instagram.svg);
    object-fit: contain;
}

#numero::before {
    content: url(../images/telephone-fill.svg);
    object-fit: contain;
}

.info:hover::after{
    white-space: nowrap;
    width: auto;
    height: 1.2em;
    padding: 0 0.5em;
    background-color: #CF6123;
    position: absolute;
    align-self: center;
    border-radius: 10px;
    bottom: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#numero:hover::after {
    content: "4002-8922";
}

#email:hover::after {
    content: "romerito.camposman@agencia.com";
}

#instagram:hover::after {
    content: "@camposmanagencia";
}

header {
    justify-content: space-around;
}

@media (max-width: 600px) {
    article{
        gap: 3em;
    }
    article div {
        max-width: 90%;
    }
    #contato h2{
        text-align: center;
    }

    #buttons {
        .info {
            font-size: 1em;
        }

    }

    #email:hover::after {
        left: 1.2em;
    }

    #numero:hover::after {
        right: 11.7em;
    }
}
