article {
  margin-top: 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 3em;
}

.card {
  width: 40em;
  min-height: 20em;
  background-color: #5C483A;
  border-radius: 2em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 3em;
  box-shadow: 7px 7px 1.5em black;
}

.card img {
  margin: 0.5em 0 0 0.5em;
  width: 250px;
  height: 250px;
  border: 0.6em solid #F1E9BB;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: 7px 7px 1.5em black;
}

.card div:last-child {
  width: 30em;

  h2 {
    margin-top: 2em;
    margin-bottom: 0;
  }

  p {
    padding: 0.5em;
    margin-top: 0.5em;
    border-top: 0.2em solid black;
    max-width: 18em;
  }
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

h2{
  margin: 2rem 0 ;
}

article{
  margin: 0;
}

@media (max-width: 600px) {
  .card {
    max-width: 90%;
    flex-flow: column nowrap;
    gap: 0;
  }

  .card div {
    display: flex;
    flex-flow: column nowrap;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
      width: 180px;
      height: 180px;
    }
    p {
      margin-bottom: 1em;
    }
  }
  .card div:last-child{
    h2{
      margin: 0.5em;
    }
    
  }

}
