footer {
    margin: 0;
}

article {
    img {
        width: 20rem;
    }

    div {
        /* margin-top: 2rem; */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 800px;
    }


}

#imagem {
    background-image: url('../images/endereco1.webp');
    width: 100%;
    height: 15em;
    background-size: cover;
    background-position-y: 25%;
    opacity: 70%;
}

.titulo {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #F3C363;
    padding: 1em 0;
    justify-content: center;

    div {
        display: flex;
        flex-direction: row;
        gap: 1em;
        justify-content: center;

        img {
            width: 70px;
        }

    }
}

#localizacao {
    width: 100%;
    padding: 1em 0;

    span {
        max-width: 80%;
    }
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 3em 0;
}


.depoimentos {
    display: flex;
    flex-direction: row;
    gap: 1em;

    /* background-color: #5C483A; */
    padding: 1em;

    img {
        width: 5em;
        height: 5em;
        border-radius: 1em;
        border: 2px solid #5C483A;
    }

    span {
        border-top: 2px solid #5C483A;
        padding-top: 1em;
        text-align: justify;
    }

}


#desativado {
    visibility: hidden;
    height: 0;
    padding: 0;
    overflow: hidden;
}

#ativado {
    visibility: visible;
    height: auto;
}

.botaoslide {
    cursor: pointer;
    display: flex;
    background-color: #5C483A;
    color: white;
    width: 0;
    padding: 1em 1.5em;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    position: absolute;
    user-select: none;
}

.botaoslide.avancar {
    right: 1em;
}

.botaoslide.voltar {
    
    left: 1em;
    
}


@media (max-width: 600px) {
    * {
        max-width: 600px;
    }

    #logoa,
    #logo {
        width: 100px;
        height: 100px;
        margin: 1.5em 0 0;
        left: 0;
        top: 0;
    }

    header div {
        display: flex;
        flex-flow: row wrap;
        gap: 2em;
    }

    header a {
        font-size: 0.8em;

    }

    #depdiv {
        max-width: 100vw;
        div {
            flex-direction: column;
            max-width: 40%;
        }
    }

    footer {
        display: flex;
        align-items: center;

        span {
            display: inline;
            margin: 0 0 0 2em;
        }
    }

    .titulo div {
        margin: 0 0 0 1em;
    }
}
