@media (max-width: 600px) {
  * {
    max-width: 600px;
  }

  #logoa,
  #logo {
    width: 100px;
    height: 100px;
    margin: 1.5em 0 0;
    left: 0;
    top: 0;
  }

  header div {
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
  }

  header a {
    font-size: 0.8em;

  }

}
