.perguntas {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.7em;
    align-items: center;

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1em;
        background-color: #CF6123;
        border-radius: 1em;
    }

    section img {
        background-color: #CF6123;
        border-radius: 1em;
    }

    section h2,
    label {
        background-color: #CF6123;
        border-radius: 1em;
    }

    section h2 {
        margin-left: 0.5em;
        flex-grow: 1;
    }

    section p {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
        justify-self: center;
        font-size: 1em;
        color: black;
        font-weight: bolder;
        text-align: justify;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    align-content: center;
}

.container {
    align-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container h2,
h1 {
    text-align: center;
    margin: 2rem 0;
}

#accordion1>input[type="checkbox"],
#accordion2>input[type="checkbox"],
#accordion3>input[type="checkbox"],
#accordion4>input[type="checkbox"],
#accordion5>input[type="checkbox"],
#accordion6>input[type="checkbox"],
#accordion7>input[type="checkbox"],
#accordion8>input[type="checkbox"],
#accordion9>input[type="checkbox"],
#accordion10>input[type="checkbox"],
#accordion11>input[type="checkbox"],
#accordion12>input[type="checkbox"],
#accordion13>input[type="checkbox"],
#accordion14>input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

#accordion1>input[type="checkbox"]:checked~#content1,
#accordion2>input[type="checkbox"]:checked~#content2,
#accordion3>input[type="checkbox"]:checked~#content3,
#accordion4>input[type="checkbox"]:checked~#content4,
#accordion5>input[type="checkbox"]:checked~#content5,
#accordion6>input[type="checkbox"]:checked~#content6,
#accordion7>input[type="checkbox"]:checked~#content7,
#accordion8>input[type="checkbox"]:checked~#content8,
#accordion9>input[type="checkbox"]:checked~#content9,
#accordion10>input[type="checkbox"]:checked~#content10,
#accordion11>input[type="checkbox"]:checked~#content11,
#accordion12>input[type="checkbox"]:checked~#content12,
#accordion13>input[type="checkbox"]:checked~#content13,
#accordion14>input[type="checkbox"]:checked~#content14 {
  height: auto;
  overflow: visible;
  border-top: 0.2em solid black;
}

#accordion1,
#accordion2,
#accordion3,
#accordion4,
#accordion5,
#accordion6,
#accordion7,
#accordion8,
#accordion9,
#accordion10,
#accordion11,
#accordion12,
#accordion13,
#accordion14 {
  label {
    display: block;
    cursor: pointer;
    margin: 0 0.5em;
  }

  h2 {
    display: flex;
  }
}

#content1,
#content2,
#content3,
#content4,
#content5,
#content6,
#content7,
#content8,
#content9,
#content10,
#content11,
#content12,
#content13,
#content14 {
  overflow-y: hidden;
  height: 0;
  transition: height 1s ease;
}

@media (max-width: 600px) {
  .perguntas {
    width: 100%;
    section {
      max-width: 95%;

      h2,
      label,
      div {
        flex-wrap: wrap;
        max-width: 100%;
        height: auto;
      }

      h2 {
        text-wrap: wrap;
        white-space: wrap;
      }
    }
  }
}
