/* article div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    align-items: center;
} */

#merchan {
    margin-top: 2em;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 15em;
}


.romerito {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.romerito img {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: row;
    border: 0.3em solid #5C483A;
    border-radius: 50%;

}

.romerito p {
    font-size: x-large;
    margin-top: 30px;
    font-weight: bold;
}

#frase {
    text-align: center;
    font-size: 2em;
    max-width: 12em;
}

#cardscontainer{
    display: flex;
    justify-content: center;
    width: 100vw;
    gap: 6em;
    margin-top: 3em;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 500px;
    background-color: #5C483A;
    border-radius: 5%;
    max-width: 37em;
    box-shadow: 7px 7px 1.5em black;
}

.card h1 {
    width: 100%;
    text-align: center;
    padding: 0.3em 0 ;
    color: #FFFFFF;
}

.card p {
    padding: 0.5em 0.7em 0.5em 0.5em;
    border-top: 3px solid white;
    text-align: justify;
    min-height: 22em;
    max-width: 22em;
    overflow-y:scroll;
    max-height: 20em;
    font-size: 1.3em;
    color: #FFFFFF;
}

.card p::-webkit-scrollbar{
    width: 0.3em;

}
.card p::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color:#47372b;
    
}
.card p::-webkit-scrollbar-thumb{
    background-color: #6d584a;
}
.card p::-webkit-scrollbar-thumb:hover{
    background-color: #61412a;
}

img {
    object-fit: cover;
}

@media (max-width: 600px) {
    #merchan {
        display: flex;
        flex-flow: column wrap;
        gap: 1em;
        .romerito {
            img {
                width: 150px;
                height: 150px;
                object-fit: cover;
            }
        }
    }
    #cardscontainer{
        justify-content: center;
        align-items: center;
        gap: 2em;
    }
    .card p{
        overflow: auto;
        max-height: none;
    }

    article div {
        display: flex;
        flex-flow: column nowrap;

        .card {
            min-width: 350px;
            width: 350px;
            margin: 0 0 4em;


            p {
                width: 280px;
                font-size: 1.1em;
            }
        }
    }
}
